@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


body {
    background-color: #E8E8E8;
    margin: 0;
}
#logo {
    margin-top: 2.5rem;
    margin-left: 2.5rem;
    position: absolute;
    display: flex;
    flex-direction: row;
}

#texto{
    position: absolute;
    width: 660px; /* Largura do input */
    height: 48px; /* Altura do input */
    font-size: 32px; /* Tamanho da fonte */
    border: 0px solid #ccc; /* Borda do input */
    border-radius: 5px; /* Borda arredondada */
    background-color: #E8E8E8;
    color: #0A3871;
    margin-left: 15rem;
    margin-right: 530px;
    margin-top: 168px;
    margin-bottom: 808px;
    font-family: "Inter", sans-serif;
        
}
#texto::placeholder{
    text-align: left;
}

.botoes {
    padding-top: 35rem;
    padding-bottom: 4.5rem;
    padding-left: 240px;
    display: flexbox;
}

#criptografar {
    background-color: #0A3871;
    color: white;
    
}

#descriptografar {
    background-color: #D8DFE8;
    color: #0A3871;

}

.botao {
    border-radius: 24px;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

.alerta {
    gap: 15;
    font-family: "Inter", sans-serif;   
    bottom: 115px;
}

.card {
    display: flex;
    position: absolute;
    width: 400px;
    height: 600px;
    top: 40px;
    padding-bottom: 40px;
    right: 40px;
    left: 1000px;
    border-radius: 32px;
    background-color: white;
    align-items: center;
    flex-direction: column;

}
.textos {
    text-align: center;
    font-family: "Inter", sans-serif;       
}

.textos p{
    font-size: 16px;
}

.disabled 
{
   display:none;
}